example_github_create_repo.json
{
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "0f9a5e3d-5c1b-4e8a-8f6d-1a2b3c4d5e6f"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repoName",
              "value": "mon-super-nouveau-repo-via-n8n"
            },
            {
              "name": "description",
              "value": "Dépôt créé automatiquement avec n8n !"
            },
            {
              "name": "visibility",
              "value": "public"
            }
          ],
          "boolean": [
            {
              "name": "initialize",
              "value": true
            }
          ]
        },
        "keepOnlySet": true,
        "options": {}
      },
      "name": "Définir Détails Dépôt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "id": "e1b2c3d4-a5f6-7890-b1c2-d3e4f5a6b7c8"
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "repository",
        "operation": "create",
        "name": "={{ $json.repoName }}",
        "description": "={{ $json.description }}",
        "visibility": "={{ $json.visibility }}",
        "options": {
          "auto_init": "={{ $json.initialize }}",
          "gitignore_template": "Node",
          "license_template": "mit"
        }
      },
      "name": "Créer Dépôt GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "YOUR_GITHUB_CREDENTIALS_ID",
          "name": "Nom de tes credentials GitHub"
        }
      },
      "id": "f9e8d7c6-b5a4-3210-c9d8-e7f6a5b4c3d2"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Définir Détails Dépôt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Définir Détails Dépôt": {
      "main": [
        [
          {
            "node": "Créer Dépôt GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
